@media #{$res_760} {
	.blog{
		margin-top: 26px;
		.container{
			border: solid 1px #e4e2e1;
		}	
		&__list{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-left: 38px;
			padding-right: 96px;
			margin-bottom: 17px;
			&--ip{
				display: block;
				margin-top: 24px;
			}
			&__info{
				padding: 13px 12px 0px;
				top: 68px;
				

			}
			&__name{
					h1{
						font-size: 14px;
						
						font-family: Nunito_Light;
						text-transform: uppercase;
						line-height: 1;
						font-weight: 500;
						text-align: left;
					}
				}
			&__describe{
				p{

					font-family: Nunito_Light;
					font-size: 10px;
					padding-top: 7px;
					font-weight: 500;
					color: #aaaaaa;
					text-align: left;
					text-transform: uppercase;
				}
			}			
		}
		a{
			border: none;
		}

	}
}