@media #{$res_1024} {
	.popular{
		&__list{
			&--ip{
				display: flex;
				justify-content: space-between;
			}
			padding: 0px;

			&--display{
				display: block;
				&--ip{
					display: block;
				}
			}
			&__sale{
			
			left: 0px;
			}

		}
		

	}
}