@media #{$res_760} {
	.topbrand{
		&__list{

			&--display{
				display: none;
			}
			ul{
				display: flex;
				justify-content: space-around;
			}
			&__1{
				display: none;
			}

		}
		padding-bottom: 19px;
		
		

	}
}