$res_1024 : "only screen and (min-width: 1024px)";
@media #{$res_1024} {
	.wrapper{
	  min-width: 1024px;
	  margin: 0 auto;
	}
	.container{
	  width: 960px;
	  margin: 0 auto;
	}
	.container-fluid{
	  width: 100%;
	  margin: 0 auto;
	}
	.container-ippc{
		width: 960px;
		margin: 0 auto;
	}
}