$res_760 : "only screen and (min-width: 760px) and (max-width: 1024px)";
@media #{$res_760} {
	.wrapper{
	  min-width: 760px;
	  margin: 0 auto;
	}
	.container{
	  width: 750px;
	  margin: 0 auto;
	}
	.container-fluid{
	  width: 750px;
	  margin: 0 auto;
	}
	.container-ippc{
		width: 750px;
		margin: 0 auto;
	}
}