@media #{$res_760} {
	.wrapper{
		width: 100%;
	  margin: 0 auto;
	}
	.container{
	  width: 750px;
	  margin: 0 auto;
	}
	.container-fluid{
	  width: 100%;
	  margin: 0 auto;
	}
	.container-ippc{
		width: 750px;
		margin: 0 auto;
	}
} 