@font-face {
  font-family: Nunito_Light;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: PlayfairDisplaySC_Regular;
  src: url(../fonts/Playfair_DisplaySC/PlayfairDisplaySC-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplaySC_Bold;
  src: url(../fonts/Playfair_DisplaySC/PlayfairDisplaySC-Bold.ttf);
}
@font-face {
  font-family: Nunito_Regular;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: Nunito_Bold;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
}

