@media #{$res_1024} {
	.checkout-page{
		&--flex{
			display: flex;
			justify-content:space-between;
		}
		.container{
			display: flex;
			flex-direction:column;
			.checkout-box{
				order:1;
				margin-bottom: 50px;
			}
			.checkout-cart{
				order:2;
				flex-basis: 32%;
				height: 100%;

			}
		}
		&__recommend{
			display: block;
		}


	}
}