main{
	padding-top: 18px;
	.bd-b{
		border-top: solid 1px #e4e2e1;
		margin-bottom: 15px;
	}
	.wish{
		.container{
			border: solid 1px #e4e2e1;
			width: 311px;
			margin-bottom: 60px;

			
		}

	}
	.cart__check{
		&__help{
			display: none;
		}
	}
}