@media #{$res_1024} {
	.topbrand{
		&__list{

			&--display{
				display: block;
			}
			ul{
				display: flex;
				justify-content: space-around;
			}
			&__1,&__2,&__3,&__4,&__5,&__6{
				display: block;
			}

		}
		padding-bottom: 19px;
		
		

	}
}