@media #{$res_1024} {
  .wrapper{
    header{

      .menu{
        padding-bottom: 10px;
        img{
          display: none;
        }
        nav{
          display: block;
           ul{
            display: flex;
            justify-content:center;
            li{
              padding-left: 20px;
              a{
                font-family: Nunito_Light;
                font-size: 13px;
                color: #000000;
                text-transform: uppercase;

              }
            }
           }
        }
        .slidebar-wrapper{
          display: none;
        }
        .slide-bg{
          display: none;
        }
      }
    }
  }
  
}