
.wrapper{
  header{
    .menu{
      img{
        padding: 7px 18px 7px 0px;
        border-right: solid 1px #e4e2e1;
        width: 9%;
      }
      nav{
         display: none;
      }
    }
  }
}
  
