 	.wrapper{
		header{
			.topbar{

				background: #000000;
				.container{
					position: relative;
					display: flex;
				}

				.topbar__left{
					display: flex;
					&--display{
						display: none;
					}
					select{
						border: none;
		  				background: #000000;
		  				font-family: Nunito_Light;
		  				font-size: 10px;
		  				text-transform: uppercase;
		  				color: #aaaaaa;
		  				padding:14px 0px 14px 0px;
		  				margin-right: 21px;
		  				font-weight: 500;
					}

				}
				.topbar__center{
					display: none;
				}
				.topbar__right{
					display: none;
				}

			}
			.title-page{
				
				h1{
					text-align: center;

					font-family: PlayfairDisplaySC_Regular;
	  				text-transform: uppercase;
	  				font-weight: 500;
	  				font-size: 36px;
	  				margin-top: 17px;
	  				margin-bottom: 22px;
				}
				&__right{
					position: relative;
					&__cart{
						display: flex;
		  				align-items:center;
		  				position: absolute;
		  				top: 7.8px;
		  				right:50%;
		  				transform: translateX(208%);
		  				img{
		  					padding: 8px;
		  					width: 20%;
		  					background: #404040;
		  					border-radius: 50px;
		  					margin-right: 6px;
		  				}
		  				a{
	  					font-family: Nunito_Light;
	  					font-size: 11px;
	  					color: #fff;
	  					text-transform: uppercase;
	  					font-weight: 500;
  						}
					}
					&__search{
						position: absolute;
		  				top: 139px;
		  				display: flex;
		  				align-items:center;
		  				transform: translateX(-120%);
		  				left: 50%;
		  				top: 140px;

		  				a{
		  					font-family: Nunito_Light;
		  					font-size: 11px;
		  					text-transform: uppercase;
		  					color: #000000;
		  					margin-left: 9px;
		  				}									
					}
				}
			}			
		}
	}  