
@media #{$res_1024} {
	.wrapper{
		header{
			.topbar{

				background: #000000;
				.container{
					position: relative;
					display: flex;
					justify-content: space-between;
					align-items:center;
				}

				.topbar__left{
					display: flex;
					&--display{
						display: block;

					}
					select{
						border: none;
		  				background: #000000;
		  				font-family: Nunito_Light;
		  				font-size: 10px;
		  				text-transform: uppercase;
		  				color: #aaaaaa;
		  				padding:14px 0px 14px 0px;
		  				margin-right: 21px;
		  				font-weight: 500;
					}
				}

				.topbar__center{
					display: flex;
					align-items:center;
					
					p{
						font-family: Nunito_Light;
						font-size: 10px;
						color: #fff;
						text-transform: uppercase;

					}
				}
				.topbar__right{
					display: block;
					ul{
						display: flex;
						align-item:center;
						li{ 
							display: flex;
							a{
								font-family: Nunito_Light;
								color: #aaaaaa;
								font-size: 10px;
								text-transform: uppercase;
								border-right: solid 1px #aaaaaa;
								padding: 0 9px;


							}
						}
						li:last-child{
							a{
								border-right: none;
							}
						}
					}
				}

			}
			.title-page{
				.container{
					position: relative;
				}
				
				h1{
					text-align: center;

					font-family: PlayfairDisplaySC_Regular;
	  				text-transform: uppercase;
	  				font-weight: 500;
	  				font-size: 36px;
	  				margin-top: 36px;
	  				margin-bottom: 36px;
				}
				&__right{
					position: static;
					&__cart{
						display: flex;
		  				align-items:center;
		  				position: absolute;
		  				top: 16px;
		  				right:36.5%;
		  				transform: translateX(467%);
		  				img{
		  					padding: 8px;
		  					width: 20%;
		  					background: #404040;
		  					border-radius: 50px;
		  					margin-right: 6px;
		  				}
		  				a{
	  					font-family: Nunito_Light;
	  					font-size: 11px;
	  					color: #000000;
	  					text-transform: uppercase;
	  					font-weight: 500;
  						}
					}
					&__search{
						position: absolute;
		  				top: 139px;
		  				display: flex;
		  				align-items:center;
		  				transform: translateX(-397%);
		  				left: 103%;
		  				top: 24px;

		  				a{
		  					font-family: Nunito_Light;
		  					font-size: 11px;
		  					text-transform: uppercase;
		  					color: #000000;
		  					margin-left: 9px;
		  				}									
					}
				}
			}			
		}
	}  
}
