main{
	.wish{
		&__list{
			display: flex;
			flex-direction:column;
			

			&__name{
				display: none;
			}
			&__item{
				padding: 18px 25px;
				background: #f7f7f7;
				margin-bottom: 15px;
				ul{
					display: flex;
					justify-content:space-between;
					text-transform: uppercase;
				}
				h1{
					font-size: 10px;
					font-family: 'Nunito_Light';
					font-weight: bold;
					line-height: 2.5;
				}

				a{
					font-family: 'Arial';
					font-size: 11px;
					text-transform: none;
					color:#000;
					text-decoration: underline;
					font-weight: 500;
				}
				&--ip--pt{
					display: none;
				}
				&--ip{
					display: none;
				}


				&__info{
					padding-left: 15px;
					&--ip{
						display: none;
					} 
					&__color{
						display: flex;
					}
					&__name{
						width: 100px;
						line-height: 1.5 !important;

					}
					&__qty{
						display: flex;
						align-items:center; 
						input{
							width: 47px;
							text-align: center;
							border:solid 1px #e4e2e1;
							margin-right: 10px;
							padding: 10px;
						}
						img{
							height: 18px;
							margin-right: 15px;
						}
					}


					

				}
				
				

				
			}
			&__item:last-child{
				margin-bottom: 0px;
			}

		}
		&__title{

			padding: 14px 0 14px 0;
			border-bottom: solid 1px #e4e2e1;
			h1{
				padding-left: 15px;
				font-size: 24px;
				font-family: PlayfairDisplaySC_Regular;
				font-weight: 500; 
			}
		}
	}
}