
@media #{$res_760} {
	.wrapper{
		main{
			.new{
				position:relative;
				.container{
				}
				&__list{
					padding: 0 4.5px 0 4.5px;
					text-align: center;
					&:last-child{
						padding-right: 0px;
					}
					&:first-child{
						padding-left: 0px;
					}
				}

				&__title{
					border-bottom: solid 1px #e4e2e1;
					
					height: 83px;
					margin-bottom: 30px;
					h1{
						font-family: PlayfairDisplaySC_Regular;
						font-size: 24px;
						position: absolute;
						text-transform: uppercase;
						text-align: center;
						font-weight: 500;
						top: 16%;
						left: 50%;
						transform:  translateX(-50%);
						background: #fff;
						padding: 0 50px 0 50px;

					}
				}
			}
			.popular{
				width: 56%;
				float: left;
				.container{
					width: 100%;
				}
				&__title{
					border-bottom: solid 1px #e4e2e1;
					position: relative;
					height: 24px;
					margin-bottom: 35px;
					h1{
						font-family: PlayfairDisplaySC_Regular;
						font-size: 24px;
						position: absolute;
						text-transform: uppercase;
						text-align: center;
						font-weight: 500;
						top: 35%;
						left: 39%;
						transform:  translateX(-30%);
						background: #fff;
						padding: 0 5px 0 5px;


					}
				}
			}
			.blog{
				margin-bottom: 10px;
				float: right;
				width: 38.5%;
				margin-top: 12px;
				.container{
					width: 100%;
				}
				&__title{
					
					position: relative;
					height: 24px;
					margin-bottom: 35px;
					h1{
						
						font-family: PlayfairDisplaySC_Regular;
						font-size: 24px;
						position: absolute;
						text-transform: uppercase;
						text-align: center;
						font-weight: 500;
						padding-left: 50px;
						margin-top: 13px;


					}
				}
			}
			.topbrand{

				&__title{
					position: relative;
					height: 24px;
					margin-bottom: 35px;
					h1{
						font-family: PlayfairDisplaySC_Regular;
						font-size: 24px;
						position: absolute;
						text-transform: uppercase;
						text-align: center;
						font-weight: 500;
						top: 170%;
						left: 50%;
						transform:  translateX(-50%);
						background: #fff;
						padding: 0 5px 0 5px;


					}
				}
				
			}
			.benefit{
				padding-bottom: 20px;
			}
		}
	}
}