@media #{$res_1024} {
.wrapper{
	.topbrand{
		display: block;
	}
	.breadcrumb{
		border-top: solid 1px #e4e2e1;
		padding-top: 10px;
		margin-top: 22px;
		display: flex;
		justify-content: space-between;
		ol{
			display: flex;
			li{
				height: 10px;
				font-size: 10px;	
								
			}
		}
		a{
					
			font-family: 'Arial';
			color:#aaaaaa;
			display: block;
			font-size: 10px;
			letter-spacing: 1px;
		}
		&__space{
			padding: 0 7px 0 7px;

		}
	}
	.container-blog{
		display: flex;
		flex-direction: row;
		justify-content:unset;
		border: none;
		.news{
			width: 629px;
			padding-right: 40px;
			order:1;
			h1{
				width: 535px;
			}
			a{
				padding-top: 5px;
				padding-bottom: 15px;
				float: right;
				font-family: Nunito_Light;
				font-size: 12px;
				color: #000;
				text-transform: uppercase;
				img {
					width: 4%;
					display: inline-block;
					padding-left: 4px;
					padding-top: 1px;
				}
			}
		}
		.cate{
			width: 299px;
			order:2;
			&__categories{
				img {
					display: none;
				}
				ul{
					padding-top: 7px;

					display: block;
					li{
						a{
							font-size: 11px;
							text-transform: uppercase;
							font-family: Nunito_Light;
							color: #000;

						}
					}
				}
			}
			&__lable{
				padding: 20px;
				border: solid 1px #e4e2e1;
				margin-top: 18px;
				display: block;
				h1{
					font-family: Nunito_Light;
					font-size: 14px;
					text-transform: uppercase;
					padding-bottom: 15px;

				}
				p{
					text-transform: uppercase;
					font-size: 10px;
					font-weight: bold;
					line-height: 1.4;

				}
				&--b1{
					font-size: 14px;
				}
				&--b2{
					font-size: 24px;

				}
			}
		}
	}
}
}